.wrapper {
    margin-left: 5px;
    margin-right: 5px;
    display:flex;
    flex-wrap: wrap;
    align-items: start;
}
.root {
    margin-top: 10px;
    margin-right: 10px;
}
.card{
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    margin-bottom: 10px;
}
.redSize{
    color: red;
}